<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/sensor1.css" </head>

<body>
    <div class="nav">
        <img src="https://media.licdn.com/dms/image/C560BAQE7WgnBeLm3Bg/company-logo_200_200/0/1625720418766?e=2147483647&v=beta&t=KTUp1omXehd0PtjA2EDBLnVKgKIjIXW9JMvcwT67TFk"
            width="60">
        <a href="http://localhost:7100/school/?scID=<%=sch%>"class="triangle-left"></a>
        <a href="" class="triangle-right"></a>
        <ul class="nav-links" type="none">
            <!-- <i class="uil uil-times navCloseBtn" id="searchIcon"></i> -->
            <li><a href="#"> Dashboard</a></li>
            <li><a href="#"> Admin Settings </a></li>
            <li><a href="#"> Device Management </a> </li>
            <li><a href="#"> Alert & Notification </a></li>
            <li><a href="#"> Help</a></li>
            <li><a href="#">Contact</a> </li>

        </ul>
    </div>
<% if(data ) { %>
    <div class="menu">
        <h2> Sensor Name= <%= data[0].device_type %>
        </h2>
        <h2> Sensor Id = <%= data[0].device_id %>
        </h2>
        <h2> Status :
            <span id="status">
                <%= data[0].device_heartbeat_status %>
                    <button class="signal-button-1"></button>
            </span>
        </h2>



    </div>


    <div class="card-2">
        <h2 class="top">Humidity</h2>

        <div class="graph-3">
            <canvas id="myChart3"></canvas>
          </div>
    </div>

    </div>




    <div class="card-2">
        <h2 class="top">Temperature</h2>

        
        <div class="graph-1">
            <canvas id="myChart"></canvas>
          </div>
        <!-- </div> -->

    </div>
    <div class="card-4">
        <h2 class="top">Smoke</h2>

        
        <div class="graph-2">
            <canvas id="myChart2"></canvas>
          </div>
            </div>
        <!-- </div> -->

    </div>

    








   
    <div class="card-5">
        <div class="btn">
            <button class="button-71" role="button">Sensor Update</button>
            <button class="button-71" role="button">Sensor  Reset</button>
        </div>
        <div class="btn">
            <button class="button-71" role="button">OTA &nbsp;&nbsp; Update</button>
            <button class="button-71" role="button">OTA &nbsp; &nbsp;  Reset</button>
        </div>

    </div>





    <div class="ip">
        <span class="ipl">
            <h2> IP Address</h2>

            <h2>
                <%= data[0].device_ip %>
            </h2>

        </span>
        <span class="ipl">
            <h2> Mac id </h2>

            <h2>
                <%= data[0].device_mac %>
            </h2>

        </span>

    </div>

    </div>
    </div>
<% } %>
    <div>
        <%var c=j%>
         <%var d=k%></div>
         <div>
          <%var sm=s%>
           <%var ts=e%></div>
           <div>
            <%var hm=h%>
             <%var th=m%></div>
   
      
   

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
     
     
     console.log('<%=c[0]%>');
     
    
    
    //  const xlabels=[]
    // const ytemps=[]
    // for(var i=0;i<=a.length;i++){
    //   xlabels.push(a[i])
    // }
    // for(var i=0;i<b.length;i++){
    //   ytemps.push(b[i])
    // }

    const ctx2 = document.getElementById('myChart2');
   
    let chart2 = new Chart(ctx2, {
        type: 'line',
        data: {
          labels: [],
          datasets: [{
            label: 'smoke',
            data: [],
            borderWidth: 1
          }]
        },
       
      });
   
     function chartIt2(){
      console.log('<%=typeof(sm.slice(-1)[0])%>');
      console.log('<%=ts.slice(-1)%>')
      console.log('<%= sm.slice(-1) %>')
      chart2.data.labels = ['<%=ts[ts.length-10]%>',
      '<%=ts[ts.length-9]%>',
      '<%=ts[ts.length-8]%>',
      '<%=ts[ts.length-7]%>',
      '<%=ts[ts.length-6]%>',
      '<%=ts[ts.length-5]%>',
      '<%=ts[ts.length-4]%>',
      '<%=ts[ts.length-3]%>',
      '<%=ts[ts.length-2]%>',
      '<%=ts.slice(-1)%>'] ;
      chart2.data.datasets[0].data = ['<%=sm[sm.length-10]%>',
      '<%=sm[sm.length-9]%>',
      '<%=sm[sm.length-8]%>',
      '<%=sm[sm.length-7]%>',
      '<%=sm[sm.length-6]%>',
      '<%=sm[sm.length-5]%>',
      '<%=sm[sm.length-4]%>',
      '<%=sm[sm.length-3]%>',
      '<%=sm[sm.length-2]%>',
      '<%=sm.slice(-1)%>'];
      chart2.update();
    }
    // chart1.data.labels = b[0];
    //                 chart1.data.datasets[0].data = a[0];
    //                 chart1.update();
    chartIt2(chart2);


    //chart 3

    const ctx3 = document.getElementById('myChart3');
   
    let chart3 = new Chart(ctx3, {
        type: 'line',
        data: {
          labels: [],
          datasets: [{
            label: 'Humidity',
            data: [],
            borderWidth: 1
          }]
        },
       
      });
   
     function chartIt3(){
      console.log('<%=typeof(hm.slice(-1)[0])%>');
      console.log('<%=th.slice(-1)%>')
      console.log('<%= hm.slice(-1) %>')
      chart3.data.labels = ['<%=th[th.length-10]%>',
      '<%=th[th.length-9]%>',
      '<%=th[th.length-8]%>',
      '<%=th[th.length-7]%>',
      '<%=th[th.length-6]%>',
      '<%=th[th.length-5]%>',
      '<%=th[th.length-4]%>',
      '<%=th[th.length-3]%>',
      '<%=th[th.length-2]%>',
      '<%=th.slice(-1)%>'] ;
      chart3.data.datasets[0].data = ['<%=hm[hm.length-10]%>',
      '<%=hm[hm.length-9]%>',
      '<%=hm[hm.length-8]%>',
      '<%=hm[hm.length-7]%>',
      '<%=hm[hm.length-6]%>',
      '<%=hm[hm.length-5]%>',
      '<%=hm[hm.length-4]%>',
      '<%=hm[hm.length-3]%>',
      '<%=hm[hm.length-2]%>',
      '<%=hm.slice(-1)%>'];
      chart3.update();
    }
    // chart1.data.labels = b[0];
    //                 chart1.data.datasets[0].data = a[0];
    //                 chart1.update();
    chartIt3(chart3);
    //chart 3
    const ctx = document.getElementById('myChart');
   
    let chart1 = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [],
          datasets: [{
            label: 'Temperature Usage',
            data: [],
            borderWidth: 1
          }]
        },
       
      });
   
     function chartIt(){
      console.log('<%=typeof(c.slice(-1)[0])%>');
      console.log('<%=d.slice(-1)%>')
      console.log('<%= c.slice(-1) %>')
      chart1.data.labels = ['<%=d[d.length-10]%>',
      '<%=d[d.length-9]%>',
      '<%=d[d.length-8]%>',
      '<%=d[d.length-7]%>',
      '<%=d[d.length-6]%>',
      '<%=d[d.length-5]%>',
      '<%=d[d.length-4]%>',
      '<%=d[d.length-3]%>',
      '<%=d[d.length-2]%>',
      '<%=d.slice(-1)%>'] ;
      chart1.data.datasets[0].data = ['<%=c[c.length-10]%>',
      '<%=c[c.length-9]%>',
      '<%=c[c.length-8]%>',
      '<%=c[c.length-7]%>',
      '<%=c[c.length-6]%>',
      '<%=c[c.length-5]%>',
      '<%=c[c.length-4]%>',
      '<%=c[c.length-3]%>',
      '<%=c[c.length-2]%>',
      '<%=c.slice(-1)%>'];
      chart1.update();
    }
    // chart1.data.labels = b[0];
    //                 chart1.data.datasets[0].data = a[0];
    //                 chart1.update();
    chartIt(chart1);

      
    </script>

</body>

</html>